.my-masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.gallery-item {
  margin-bottom: 1rem;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.fade-gallery {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-gallery.show {
  opacity: 1;
}


.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  cursor: zoom-out;
  animation: fadeIn 0.3s ease-in-out;
}

.fullscreen-media {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1060;
  transition: transform 0.2s ease;
}

.close-button:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
